* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.second {
    display: flex;
    align-items: center;
}

img {
    width: 300px;
    height: 300px;
}

.info img {
    width: 100px;
    height: 100px;
}